In [1]:
import pandas as pd
import os

In [2]:
os.chdir(os.pardir)

In [3]:
from src.configs.constants import DATA_DIR

In [40]:
def anno_to_labels(anno_name):
    cols = ['img_name', 'bbox_x1', 'bbox_y1', 'bbox_x2', 'bbox_y2', 'class']
    
    df = pd.read_csv(os.path.join(DATA_DIR, anno_name),
                     names=cols)
    
    names = pd.read_csv(os.path.join(DATA_DIR, 'names.csv'), 
                    names=['class'])
    names.index = range(1, 197)
    names_dict = names.to_dict()['class']
    
    df['class'] = df['class'].replace(names_dict)
    
    return df

In [41]:
train_labels = anno_to_labels('anno_train.csv')
train_labels.head()

,img_name,bbox_x1,bbox_y1,bbox_x2,bbox_y2,class
0,00001.jpg,39,116,569,375,Audi TTS Coupe 2012
1,00002.jpg,36,116,868,587,Acura TL Sedan 2012
2,00003.jpg,85,109,601,381,Dodge Dakota Club Cab 2007
3,00004.jpg,621,393,1484,1096,Hyundai Sonata Hybrid Sedan 2012
4,00005.jpg,14,36,133,99,Ford F-450 Super Duty Crew Cab 2012

In [42]:
train_labels.to_csv(os.path.join(DATA_DIR, 'train_labels.csv'), index=False)

In [43]:
test_labels = anno_to_labels('anno_test.csv')
test_labels.head()

,img_name,bbox_x1,bbox_y1,bbox_x2,bbox_y2,class
0,00001.jpg,30,52,246,147,Suzuki Aerio Sedan 2007
1,00002.jpg,100,19,576,203,Ferrari 458 Italia Convertible 2012
2,00003.jpg,51,105,968,659,Jeep Patriot SUV 2012
3,00004.jpg,67,84,581,407,Toyota Camry Sedan 2012
4,00005.jpg,140,151,593,339,Tesla Model S Sedan 2012

In [44]:
test_labels.to_csv(os.path.join(DATA_DIR, 'test_labels.csv'), index=False)