In [7]:
ROOT = os.path.join(os.pardir)

DATA_DIR = os.path.join(ROOT, 'data')
DATA_PATH = os.path.join(DATA_DIR, 'dataset.csv')

sys.path.append(os.path.join(ROOT, "src"))

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
import os
import sys
import pandas as pd
import matplotlib.pyplot as plt

from tensorflow.keras.preprocessing.image import ImageDataGenerator

from dataloader.preprocess import get_indices_split

# Load Data

In [18]:
data = pd.read_csv(DATA_PATH)
data.head()

             img_path  class  bbox_x1  bbox_y1  bbox_x2  bbox_y2  test
0  car_ims/000001.jpg      1      112        7      853      717     0
1  car_ims/000002.jpg      1       48       24      441      202     0
2  car_ims/000003.jpg      1        7        4      277      180     0
3  car_ims/000004.jpg      1       33       50      197      150     0
4  car_ims/000005.jpg      1        5        8       83       58     0

# Define Splits

In [ ]:
# Use Stratified Sampling
train_indices, val_indices = get_indices_split(data, 'class')

# Define Augmentations

In [5]:
train_datagen = ImageDataGenerator(rescale=1/255)
val_datagen = ImageDataGenerator(rescale=1/255)

# Load Images

In [11]:
X_COL = 'img_path'
Y_COL = 'class'
IMG_SIZE = (224, 224)
BATCH_SIZE = 32

In [15]:
train_gen = train_datagen.flow_from_dataframe(
    dataframe,
    directory=DATA_DIR,
    x_col=X_COL,
    y_col=Y_COL,
    target_size=IMG_SIZE,
    class_mode='other',
    batch_size=BATCH_SIZE,
    shuffle=True,
    seed=42
)

Found 16185 images.

In [16]:
batch = next(train_gen)

In [25]:
batch[1].shape

(32,)

In [26]:
batch[1]

array([191, 182,  85, 119, 160, 101,  28,  53,  18,   9,  89,   2, 133,
        47, 106, 127,  28, 184, 189, 178,  90, 122,  13,  46,  83,  69,
       188,  95, 108,   2, 188, 159])