In [1]:
import os
import sys
import pandas as pd
import matplotlib.pyplot as plt

from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [2]:
ROOT = os.path.join(os.pardir)

DATA_DIR = os.path.join(ROOT, 'data')
DATA_PATH = os.path.join(DATA_DIR, 'data.csv')

sys.path.append(os.path.join(ROOT, "src"))

%load_ext autoreload
%autoreload 2

In [3]:
from dataloaders.preprocess import get_indices_split

# Load Data

In [4]:
data = pd.read_csv(DATA_PATH)
data.head()

,img_path,class,bbox_x1,bbox_y1,bbox_x2,bbox_y2,test
0,car_ims/000001.jpg,AM General Hummer SUV 2000,112,7,853,717,0
1,car_ims/000002.jpg,AM General Hummer SUV 2000,48,24,441,202,0
2,car_ims/000003.jpg,AM General Hummer SUV 2000,7,4,277,180,0
3,car_ims/000004.jpg,AM General Hummer SUV 2000,33,50,197,150,0
4,car_ims/000005.jpg,AM General Hummer SUV 2000,5,8,83,58,0

In [16]:
classes = list(data['class'].unique())

In [6]:
training_data = data[data['test'] == 0]
test_data = data[data['test'] == 1]

# Define Splits

In [7]:
# Use Stratified Sampling
train_indices, val_indices = get_indices_split(training_data, 'class', 0.2)

val_data = training_data.iloc[val_indices]
train_data = training_data.iloc[train_indices]

In [42]:
val_classes = val_data['class'].values

In [43]:
val_labels = [class_to_label[c] for c in val_classes]

In [44]:
val_labels

[116,
 185,
 7,
 183,
 15,
 21,
 121,
 101,
 101,
 13,
 115,
 182,
 39,
 51,
 175,
 153,
 60,
 85,
 73,
 188,
 88,
 107,
 193,
 86,
 151,
 32,
 48,
 27,
 124,
 47,
 111,
 115,
 8,
 77,
 17,
 28,
 124,
 16,
 123,
 54,
 11,
 31,
 54,
 20,
 22,
 171,
 46,
 119,
 192,
 56,
 154,
 177,
 2,
 148,
 39,
 71,
 131,
 20,
 162,
 51,
 120,
 38,
 69,
 118,
 180,
 3,
 116,
 51,
 28,
 108,
 0,
 76,
 143,
 110,
 48,
 8,
 2,
 104,
 81,
 194,
 5,
 181,
 186,
 106,
 48,
 95,
 173,
 69,
 90,
 137,
 99,
 56,
 39,
 61,
 46,
 118,
 21,
 159,
 145,
 78,
 193,
 56,
 72,
 68,
 189,
 73,
 84,
 15,
 54,
 168,
 34,
 107,
 147,
 136,
 92,
 186,
 44,
 108,
 38,
 132,
 191,
 182,
 23,
 99,
 189,
 133,
 27,
 73,
 89,
 104,
 79,
 190,
 80,
 133,
 22,
 25,
 27,
 134,
 19,
 6,
 194,
 165,
 137,
 108,
 1,
 150,
 12,
 169,
 22,
 50,
 140,
 90,
 145,
 56,
 16,
 9,
 27,
 85,
 118,
 66,
 44,
 119,
 43,
 151,
 152,
 31,
 73,
 158,
 43,
 147,
 1,
 3,
 65,
 78,
 79,
 57,
 60,
 88,
 74,
 86,
 8,
 157,
 93,
 193,
 171,
 178,
 106,
 35,
 73,
 10,
 152,
 159,
 140,
 155,
 191,
 164,
 136,
 131,
 187,
 64,
 66,
 7,
 34,
 105,
 87,
 90,
 30,
 135,
 15,
 154,
 192,
 134,
 107,
 23,
 170,
 95,
 177,
 148,
 3,
 154,
 179,
 145,
 165,
 88,
 122,
 172,
 61,
 182,
 0,
 172,
 156,
 102,
 91,
 13,
 113,
 155,
 162,
 178,
 158,
 186,
 176,
 68,
 44,
 68,
 134,
 83,
 86,
 72,
 72,
 68,
 147,
 77,
 119,
 156,
 195,
 90,
 119,
 159,
 153,
 139,
 121,
 89,
 92,
 14,
 192,
 81,
 49,
 16,
 46,
 72,
 85,
 122,
 55,
 104,
 52,
 19,
 176,
 144,
 153,
 124,
 46,
 90,
 152,
 126,
 33,
 33,
 77,
 125,
 126,
 67,
 14,
 77,
 34,
 19,
 62,
 49,
 130,
 100,
 168,
 57,
 162,
 79,
 155,
 53,
 42,
 3,
 164,
 188,
 19,
 117,
 12,
 33,
 128,
 50,
 142,
 146,
 112,
 169,
 13,
 12,
 39,
 171,
 190,
 169,
 121,
 180,
 104,
 62,
 105,
 20,
 113,
 190,
 150,
 57,
 32,
 114,
 47,
 15,
 21,
 149,
 9,
 119,
 127,
 40,
 32,
 151,
 181,
 1,
 59,
 120,
 42,
 107,
 131,
 190,
 92,
 129,
 73,
 142,
 132,
 115,
 24,
 186,
 154,
 185,
 176,
 80,
 90,
 12,
 62,
 133,
 60,
 138,
 38,
 130,
 64,
 71,
 39,
 91,
 10,
 42,
 52,
 148,
 171,
 4,
 111,
 122,
 92,
 34,
 184,
 166,
 1,
 147,
 66,
 81,
 77,
 130,
 78,
 164,
 5,
 11,
 148,
 143,
 133,
 142,
 143,
 127,
 80,
 145,
 89,
 133,
 0,
 7,
 6,
 128,
 159,
 16,
 31,
 39,
 24,
 77,
 53,
 75,
 127,
 28,
 123,
 138,
 121,
 18,
 102,
 78,
 6,
 164,
 139,
 76,
 87,
 187,
 125,
 137,
 170,
 119,
 65,
 144,
 186,
 108,
 181,
 64,
 14,
 74,
 29,
 105,
 0,
 184,
 137,
 35,
 46,
 130,
 5,
 50,
 56,
 173,
 45,
 55,
 75,
 184,
 106,
 133,
 71,
 4,
 98,
 180,
 53,
 157,
 184,
 9,
 19,
 193,
 174,
 138,
 127,
 51,
 119,
 114,
 33,
 178,
 70,
 162,
 76,
 191,
 134,
 153,
 113,
 26,
 0,
 126,
 177,
 47,
 39,
 188,
 30,
 25,
 107,
 28,
 149,
 69,
 76,
 93,
 55,
 136,
 23,
 168,
 77,
 119,
 160,
 4,
 193,
 137,
 138,
 16,
 8,
 161,
 82,
 162,
 194,
 98,
 106,
 79,
 116,
 101,
 24,
 112,
 137,
 180,
 41,
 46,
 37,
 108,
 96,
 27,
 79,
 162,
 75,
 74,
 139,
 45,
 170,
 118,
 48,
 37,
 117,
 97,
 98,
 54,
 83,
 186,
 171,
 63,
 160,
 160,
 90,
 142,
 152,
 31,
 158,
 75,
 95,
 169,
 194,
 16,
 37,
 123,
 76,
 74,
 160,
 176,
 101,
 48,
 194,
 107,
 123,
 139,
 144,
 167,
 130,
 29,
 24,
 32,
 89,
 62,
 155,
 36,
 195,
 60,
 128,
 161,
 22,
 41,
 162,
 171,
 54,
 156,
 13,
 178,
 10,
 183,
 140,
 13,
 21,
 149,
 48,
 55,
 134,
 5,
 94,
 36,
 136,
 80,
 48,
 34,
 2,
 161,
 93,
 106,
 67,
 37,
 107,
 115,
 170,
 158,
 114,
 117,
 167,
 143,
 184,
 1,
 11,
 58,
 129,
 50,
 18,
 100,
 173,
 0,
 136,
 85,
 110,
 145,
 132,
 169,
 147,
 190,
 72,
 9,
 139,
 8,
 181,
 195,
 2,
 179,
 7,
 65,
 84,
 88,
 43,
 59,
 185,
 49,
 175,
 80,
 167,
 170,
 17,
 163,
 188,
 43,
 112,
 110,
 181,
 100,
 81,
 109,
 176,
 91,
 186,
 14,
 63,
 50,
 188,
 142,
 113,
 109,
 76,
 97,
 131,
 55,
 79,
 181,
 30,
 29,
 12,
 150,
 123,
 31,
 60,
 45,
 191,
 103,
 84,
 83,
 25,
 111,
 140,
 86,
 170,
 105,
 170,
 49,
 89,
 26,
 134,
 52,
 55,
 33,
 148,
 26,
 108,
 62,
 18,
 95,
 99,
 129,
 64,
 119,
 32,
 15,
 139,
 57,
 143,
 193,
 17,
 4,
 187,
 179,
 82,
 47,
 61,
 125,
 66,
 187,
 58,
 173,
 163,
 158,
 19,
 100,
 39,
 103,
 166,
 126,
 185,
 14,
 123,
 151,
 190,
 20,
 85,
 20,
 156,
 115,
 138,
 97,
 148,
 129,
 192,
 116,
 172,
 94,
 146,
 88,
 35,
 70,
 70,
 83,
 179,
 149,
 184,
 115,
 6,
 72,
 146,
 16,
 6,
 41,
 30,
 176,
 181,
 78,
 26,
 145,
 18,
 160,
 190,
 132,
 152,
 43,
 66,
 178,
 30,
 29,
 80,
 94,
 59,
 146,
 42,
 107,
 116,
 168,
 124,
 17,
 47,
 157,
 71,
 185,
 75,
 118,
 40,
 81,
 183,
 108,
 49,
 60,
 40,
 74,
 172,
 25,
 78,
 97,
 10,
 82,
 174,
 115,
 128,
 89,
 150,
 75,
 185,
 164,
 117,
 32,
 0,
 76,
 127,
 102,
 179,
 50,
 179,
 81,
 137,
 120,
 175,
 149,
 136,
 30,
 70,
 177,
 158,
 95,
 175,
 39,
 179,
 40,
 133,
 144,
 134,
 155,
 51,
 109,
 65,
 103,
 92,
 135,
 122,
 66,
 84,
 82,
 167,
 161,
 35,
 58,
 58,
 70,
 71,
 77,
 55,
 33,
 127,
 29,
 102,
 65,
 138,
 27,
 158,
 178,
 86,
 78,
 167,
 57,
 166,
 149,
 25,
 18,
 194,
 50,
 42,
 163,
 112,
 28,
 110,
 131,
 51,
 62,
 154,
 1,
 86,
 78,
 83,
 119,
 116,
 73,
 135,
 64,
 166,
 37,
 121,
 191,
 51,
 67,
 169,
 91,
 26,
 109,
 103,
 31,
 64,
 11,
 160,
 15,
 38,
 52,
 163,
 23,
 6,
 169,
 143,
 12,
 45,
 27,
 145,
 12,
 13,
 65,
 67,
 161,
 174,
 80,
 40,
 122,
 3,
 144,
 3,
 123,
 63,
 162,
 95,
 183,
 140,
 6,
 153,
 150,
 125,
 41,
 174,
 113,
 14,
 172,
 63,
 132,
 132,
 22,
 79,
 64,
 40,
 53,
 193,
 115,
 161,
 132,
 146,
 104,
 75,
 36,
 ...]

# Define Augmentations

In [8]:
from tensorflow.keras.applications.resnet50 import preprocess_input

In [9]:
train_img_gen = ImageDataGenerator(preprocessing_function=preprocess_input)
val_img_gen = ImageDataGenerator(preprocessing_function=preprocess_input)
test_img_gen = ImageDataGenerator(preprocessing_function=preprocess_input)

# Load Images

In [10]:
train_data.head()

,img_path,class,bbox_x1,bbox_y1,bbox_x2,bbox_y2,test
18,car_ims/000019.jpg,AM General Hummer SUV 2000,86,81,371,252,0
12540,car_ims/012541.jpg,Lamborghini Diablo Coupe 2001,75,260,923,593,0
10880,car_ims/010881.jpg,Hyundai Tucson SUV 2012,111,66,984,800,0
9641,car_ims/009642.jpg,GMC Terrain SUV 2012,32,55,607,403,0
9394,car_ims/009395.jpg,Ford Focus Sedan 2007,11,15,277,157,0

In [11]:
IMG_COL = 'img_path'
LABEL_COL = 'class'
IMG_SIZE = 224
BATCH_SIZE = 32

In [26]:
train_gen = train_img_gen.flow_from_dataframe(
    train_data,
    directory=DATA_DIR,
    x_col=IMG_COL,
    y_col=LABEL_COL,
    target_size=(IMG_SIZE, IMG_SIZE),
    classes=classes,
    class_mode='sparse',
    batch_size=BATCH_SIZE,
    shuffle=True,
    seed=42
)

Found 6515 images belonging to 196 classes.

In [27]:
val_gen = val_img_gen.flow_from_dataframe(
    val_data,
    directory=DATA_DIR,
    x_col=IMG_COL,
    y_col=LABEL_COL,
    target_size=(IMG_SIZE, IMG_SIZE),
    classes=classes,
    class_mode='sparse',
    batch_size=BATCH_SIZE,
    shuffle=False,
)

Found 1629 images belonging to 196 classes.

In [28]:
test_gen = test_img_gen.flow_from_dataframe(
    test_data,
    directory=DATA_DIR,
    x_col=IMG_COL,
    y_col=None,
    target_size=(IMG_SIZE, IMG_SIZE),
    class_mode=None,
    batch_size=17,
    shuffle=False
)

Found 8041 images.

In [29]:
batch = next(val_gen)

In [30]:
batch[1].shape

(32,)

In [31]:
batch[1]

array([116., 185.,   7., 183.,  15.,  21., 121., 101., 101.,  13., 115.,
       182.,  39.,  51., 175., 153.,  60.,  85.,  73., 188.,  88., 107.,
       193.,  86., 151.,  32.,  48.,  27., 124.,  47., 111., 115.],
      dtype=float32)

In [ ]:
train_gen.n // train_gen.batch_size

In [ ]:
val_gen.n // val_gen.batch_size

# Label Map

In [32]:
class_to_label = train_gen.class_indices

In [34]:
train_gen.class_indices == val_gen.class_indices

True

In [35]:
val_gen.class_indices

{'AM General Hummer SUV 2000': 0,
 'Acura Integra Type R 2001': 1,
 'Acura RL Sedan 2012': 2,
 'Acura TL Sedan 2012': 3,
 'Acura TL Type-S 2008': 4,
 'Acura TSX Sedan 2012': 5,
 'Acura ZDX Hatchback 2012': 6,
 'Aston Martin V8 Vantage Convertible 2012': 7,
 'Aston Martin V8 Vantage Coupe 2012': 8,
 'Aston Martin Virage Convertible 2012': 9,
 'Aston Martin Virage Coupe 2012': 10,
 'Audi 100 Sedan 1994': 11,
 'Audi 100 Wagon 1994': 12,
 'Audi A5 Coupe 2012': 13,
 'Audi R8 Coupe 2012': 14,
 'Audi RS 4 Convertible 2008': 15,
 'Audi S4 Sedan 2007': 16,
 'Audi S4 Sedan 2012': 17,
 'Audi S5 Convertible 2012': 18,
 'Audi S5 Coupe 2012': 19,
 'Audi S6 Sedan 2011': 20,
 'Audi TT Hatchback 2011': 21,
 'Audi TT RS Coupe 2012': 22,
 'Audi TTS Coupe 2012': 23,
 'Audi V8 Sedan 1994': 24,
 'BMW 1 Series Convertible 2012': 25,
 'BMW 1 Series Coupe 2012': 26,
 'BMW 3 Series Sedan 2012': 27,
 'BMW 3 Series Wagon 2012': 28,
 'BMW 6 Series Convertible 2007': 29,
 'BMW ActiveHybrid 5 Sedan 2012': 30,
 'BMW M3 Coupe 2012': 31,
 'BMW M5 Sedan 2010': 32,
 'BMW M6 Convertible 2010': 33,
 'BMW X3 SUV 2012': 34,
 'BMW X5 SUV 2007': 35,
 'BMW X6 SUV 2012': 36,
 'BMW Z4 Convertible 2012': 37,
 'Bentley Arnage Sedan 2009': 38,
 'Bentley Continental Flying Spur Sedan 2007': 39,
 'Bentley Continental GT Coupe 2007': 40,
 'Bentley Continental GT Coupe 2012': 41,
 'Bentley Continental Supersports Conv. Convertible 2012': 42,
 'Bentley Mulsanne Sedan 2011': 43,
 'Bugatti Veyron 16.4 Convertible 2009': 44,
 'Bugatti Veyron 16.4 Coupe 2009': 45,
 'Buick Enclave SUV 2012': 46,
 'Buick Rainier SUV 2007': 47,
 'Buick Regal GS 2012': 48,
 'Buick Verano Sedan 2012': 49,
 'Cadillac CTS-V Sedan 2012': 50,
 'Cadillac Escalade EXT Crew Cab 2007': 51,
 'Cadillac SRX SUV 2012': 52,
 'Chevrolet Avalanche Crew Cab 2012': 53,
 'Chevrolet Camaro Convertible 2012': 54,
 'Chevrolet Cobalt SS 2010': 55,
 'Chevrolet Corvette Convertible 2012': 56,
 'Chevrolet Corvette Ron Fellows Edition Z06 2007': 57,
 'Chevrolet Corvette ZR1 2012': 58,
 'Chevrolet Express Cargo Van 2007': 59,
 'Chevrolet Express Van 2007': 60,
 'Chevrolet HHR SS 2010': 61,
 'Chevrolet Impala Sedan 2007': 62,
 'Chevrolet Malibu Hybrid Sedan 2010': 63,
 'Chevrolet Malibu Sedan 2007': 64,
 'Chevrolet Monte Carlo Coupe 2007': 65,
 'Chevrolet Silverado 1500 Classic Extended Cab 2007': 66,
 'Chevrolet Silverado 1500 Extended Cab 2012': 67,
 'Chevrolet Silverado 1500 Hybrid Crew Cab 2012': 68,
 'Chevrolet Silverado 1500 Regular Cab 2012': 69,
 'Chevrolet Silverado 2500HD Regular Cab 2012': 70,
 'Chevrolet Sonic Sedan 2012': 71,
 'Chevrolet Tahoe Hybrid SUV 2012': 72,
 'Chevrolet TrailBlazer SS 2009': 73,
 'Chevrolet Traverse SUV 2012': 74,
 'Chrysler 300 SRT-8 2010': 75,
 'Chrysler Aspen SUV 2009': 76,
 'Chrysler Crossfire Convertible 2008': 77,
 'Chrysler PT Cruiser Convertible 2008': 78,
 'Chrysler Sebring Convertible 2010': 79,
 'Chrysler Town and Country Minivan 2012': 80,
 'Daewoo Nubira Wagon 2002': 81,
 'Dodge Caliber Wagon 2007': 82,
 'Dodge Caliber Wagon 2012': 83,
 'Dodge Caravan Minivan 1997': 84,
 'Dodge Challenger SRT8 2011': 85,
 'Dodge Charger SRT-8 2009': 86,
 'Dodge Charger Sedan 2012': 87,
 'Dodge Dakota Club Cab 2007': 88,
 'Dodge Dakota Crew Cab 2010': 89,
 'Dodge Durango SUV 2007': 90,
 'Dodge Durango SUV 2012': 91,
 'Dodge Journey SUV 2012': 92,
 'Dodge Magnum Wagon 2008': 93,
 'Dodge Ram Pickup 3500 Crew Cab 2010': 94,
 'Dodge Ram Pickup 3500 Quad Cab 2009': 95,
 'Dodge Sprinter Cargo Van 2009': 96,
 'Eagle Talon Hatchback 1998': 97,
 'FIAT 500 Abarth 2012': 98,
 'FIAT 500 Convertible 2012': 99,
 'Ferrari 458 Italia Convertible 2012': 100,
 'Ferrari 458 Italia Coupe 2012': 101,
 'Ferrari California Convertible 2012': 102,
 'Ferrari FF Coupe 2012': 103,
 'Fisker Karma Sedan 2012': 104,
 'Ford E-Series Wagon Van 2012': 105,
 'Ford Edge SUV 2012': 106,
 'Ford Expedition EL SUV 2009': 107,
 'Ford F-150 Regular Cab 2007': 108,
 'Ford F-150 Regular Cab 2012': 109,
 'Ford F-450 Super Duty Crew Cab 2012': 110,
 'Ford Fiesta Sedan 2012': 111,
 'Ford Focus Sedan 2007': 112,
 'Ford Freestar Minivan 2007': 113,
 'Ford GT Coupe 2006': 114,
 'Ford Mustang Convertible 2007': 115,
 'Ford Ranger SuperCab 2011': 116,
 'GMC Acadia SUV 2012': 117,
 'GMC Canyon Extended Cab 2012': 118,
 'GMC Savana Van 2012': 119,
 'GMC Terrain SUV 2012': 120,
 'GMC Yukon Hybrid SUV 2012': 121,
 'Geo Metro Convertible 1993': 122,
 'HUMMER H2 SUT Crew Cab 2009': 123,
 'HUMMER H3T Crew Cab 2010': 124,
 'Honda Accord Coupe 2012': 125,
 'Honda Accord Sedan 2012': 126,
 'Honda Odyssey Minivan 2007': 127,
 'Honda Odyssey Minivan 2012': 128,
 'Hyundai Accent Sedan 2012': 129,
 'Hyundai Azera Sedan 2012': 130,
 'Hyundai Elantra Sedan 2007': 131,
 'Hyundai Elantra Touring Hatchback 2012': 132,
 'Hyundai Genesis Sedan 2012': 133,
 'Hyundai Santa Fe SUV 2012': 134,
 'Hyundai Sonata Hybrid Sedan 2012': 135,
 'Hyundai Sonata Sedan 2012': 136,
 'Hyundai Tucson SUV 2012': 137,
 'Hyundai Veloster Hatchback 2012': 138,
 'Hyundai Veracruz SUV 2012': 139,
 'Infiniti G Coupe IPL 2012': 140,
 'Infiniti QX56 SUV 2011': 141,
 'Isuzu Ascender SUV 2008': 142,
 'Jaguar XK XKR 2012': 143,
 'Jeep Compass SUV 2012': 144,
 'Jeep Grand Cherokee SUV 2012': 145,
 'Jeep Liberty SUV 2012': 146,
 'Jeep Patriot SUV 2012': 147,
 'Jeep Wrangler SUV 2012': 148,
 'Lamborghini Aventador Coupe 2012': 149,
 'Lamborghini Diablo Coupe 2001': 150,
 'Lamborghini Gallardo LP 570-4 Superleggera 2012': 151,
 'Lamborghini Reventon Coupe 2008': 152,
 'Land Rover LR2 SUV 2012': 153,
 'Land Rover Range Rover SUV 2012': 154,
 'Lincoln Town Car Sedan 2011': 155,
 'MINI Cooper Roadster Convertible 2012': 156,
 'Maybach Landaulet Convertible 2012': 157,
 'Mazda Tribute SUV 2011': 158,
 'McLaren MP4-12C Coupe 2012': 159,
 'Mercedes-Benz 300-Class Convertible 1993': 160,
 'Mercedes-Benz C-Class Sedan 2012': 161,
 'Mercedes-Benz E-Class Sedan 2012': 162,
 'Mercedes-Benz S-Class Sedan 2012': 163,
 'Mercedes-Benz SL-Class Coupe 2009': 164,
 'Mercedes-Benz Sprinter Van 2012': 165,
 'Mitsubishi Lancer Sedan 2012': 166,
 'Nissan 240SX Coupe 1998': 167,
 'Nissan Juke Hatchback 2012': 168,
 'Nissan Leaf Hatchback 2012': 169,
 'Nissan NV Passenger Van 2012': 170,
 'Plymouth Neon Coupe 1999': 171,
 'Porsche Panamera Sedan 2012': 172,
 'Ram C/V Cargo Van Minivan 2012': 173,
 'Rolls-Royce Ghost Sedan 2012': 174,
 'Rolls-Royce Phantom Drophead Coupe Convertible 2012': 175,
 'Rolls-Royce Phantom Sedan 2012': 176,
 'Scion xD Hatchback 2012': 177,
 'Spyker C8 Convertible 2009': 178,
 'Spyker C8 Coupe 2009': 179,
 'Suzuki Aerio Sedan 2007': 180,
 'Suzuki Kizashi Sedan 2012': 181,
 'Suzuki SX4 Hatchback 2012': 182,
 'Suzuki SX4 Sedan 2012': 183,
 'Tesla Model S Sedan 2012': 184,
 'Toyota 4Runner SUV 2012': 185,
 'Toyota Camry Sedan 2012': 186,
 'Toyota Corolla Sedan 2012': 187,
 'Toyota Sequoia SUV 2012': 188,
 'Volkswagen Beetle Hatchback 2012': 189,
 'Volkswagen Golf Hatchback 1991': 190,
 'Volkswagen Golf Hatchback 2012': 191,
 'Volvo 240 Sedan 1993': 192,
 'Volvo C30 Hatchback 2012': 193,
 'Volvo XC90 SUV 2007': 194,
 'smart fortwo Convertible 2012': 195}

In [33]:
class_to_label

{'AM General Hummer SUV 2000': 0,
 'Acura Integra Type R 2001': 1,
 'Acura RL Sedan 2012': 2,
 'Acura TL Sedan 2012': 3,
 'Acura TL Type-S 2008': 4,
 'Acura TSX Sedan 2012': 5,
 'Acura ZDX Hatchback 2012': 6,
 'Aston Martin V8 Vantage Convertible 2012': 7,
 'Aston Martin V8 Vantage Coupe 2012': 8,
 'Aston Martin Virage Convertible 2012': 9,
 'Aston Martin Virage Coupe 2012': 10,
 'Audi 100 Sedan 1994': 11,
 'Audi 100 Wagon 1994': 12,
 'Audi A5 Coupe 2012': 13,
 'Audi R8 Coupe 2012': 14,
 'Audi RS 4 Convertible 2008': 15,
 'Audi S4 Sedan 2007': 16,
 'Audi S4 Sedan 2012': 17,
 'Audi S5 Convertible 2012': 18,
 'Audi S5 Coupe 2012': 19,
 'Audi S6 Sedan 2011': 20,
 'Audi TT Hatchback 2011': 21,
 'Audi TT RS Coupe 2012': 22,
 'Audi TTS Coupe 2012': 23,
 'Audi V8 Sedan 1994': 24,
 'BMW 1 Series Convertible 2012': 25,
 'BMW 1 Series Coupe 2012': 26,
 'BMW 3 Series Sedan 2012': 27,
 'BMW 3 Series Wagon 2012': 28,
 'BMW 6 Series Convertible 2007': 29,
 'BMW ActiveHybrid 5 Sedan 2012': 30,
 'BMW M3 Coupe 2012': 31,
 'BMW M5 Sedan 2010': 32,
 'BMW M6 Convertible 2010': 33,
 'BMW X3 SUV 2012': 34,
 'BMW X5 SUV 2007': 35,
 'BMW X6 SUV 2012': 36,
 'BMW Z4 Convertible 2012': 37,
 'Bentley Arnage Sedan 2009': 38,
 'Bentley Continental Flying Spur Sedan 2007': 39,
 'Bentley Continental GT Coupe 2007': 40,
 'Bentley Continental GT Coupe 2012': 41,
 'Bentley Continental Supersports Conv. Convertible 2012': 42,
 'Bentley Mulsanne Sedan 2011': 43,
 'Bugatti Veyron 16.4 Convertible 2009': 44,
 'Bugatti Veyron 16.4 Coupe 2009': 45,
 'Buick Enclave SUV 2012': 46,
 'Buick Rainier SUV 2007': 47,
 'Buick Regal GS 2012': 48,
 'Buick Verano Sedan 2012': 49,
 'Cadillac CTS-V Sedan 2012': 50,
 'Cadillac Escalade EXT Crew Cab 2007': 51,
 'Cadillac SRX SUV 2012': 52,
 'Chevrolet Avalanche Crew Cab 2012': 53,
 'Chevrolet Camaro Convertible 2012': 54,
 'Chevrolet Cobalt SS 2010': 55,
 'Chevrolet Corvette Convertible 2012': 56,
 'Chevrolet Corvette Ron Fellows Edition Z06 2007': 57,
 'Chevrolet Corvette ZR1 2012': 58,
 'Chevrolet Express Cargo Van 2007': 59,
 'Chevrolet Express Van 2007': 60,
 'Chevrolet HHR SS 2010': 61,
 'Chevrolet Impala Sedan 2007': 62,
 'Chevrolet Malibu Hybrid Sedan 2010': 63,
 'Chevrolet Malibu Sedan 2007': 64,
 'Chevrolet Monte Carlo Coupe 2007': 65,
 'Chevrolet Silverado 1500 Classic Extended Cab 2007': 66,
 'Chevrolet Silverado 1500 Extended Cab 2012': 67,
 'Chevrolet Silverado 1500 Hybrid Crew Cab 2012': 68,
 'Chevrolet Silverado 1500 Regular Cab 2012': 69,
 'Chevrolet Silverado 2500HD Regular Cab 2012': 70,
 'Chevrolet Sonic Sedan 2012': 71,
 'Chevrolet Tahoe Hybrid SUV 2012': 72,
 'Chevrolet TrailBlazer SS 2009': 73,
 'Chevrolet Traverse SUV 2012': 74,
 'Chrysler 300 SRT-8 2010': 75,
 'Chrysler Aspen SUV 2009': 76,
 'Chrysler Crossfire Convertible 2008': 77,
 'Chrysler PT Cruiser Convertible 2008': 78,
 'Chrysler Sebring Convertible 2010': 79,
 'Chrysler Town and Country Minivan 2012': 80,
 'Daewoo Nubira Wagon 2002': 81,
 'Dodge Caliber Wagon 2007': 82,
 'Dodge Caliber Wagon 2012': 83,
 'Dodge Caravan Minivan 1997': 84,
 'Dodge Challenger SRT8 2011': 85,
 'Dodge Charger SRT-8 2009': 86,
 'Dodge Charger Sedan 2012': 87,
 'Dodge Dakota Club Cab 2007': 88,
 'Dodge Dakota Crew Cab 2010': 89,
 'Dodge Durango SUV 2007': 90,
 'Dodge Durango SUV 2012': 91,
 'Dodge Journey SUV 2012': 92,
 'Dodge Magnum Wagon 2008': 93,
 'Dodge Ram Pickup 3500 Crew Cab 2010': 94,
 'Dodge Ram Pickup 3500 Quad Cab 2009': 95,
 'Dodge Sprinter Cargo Van 2009': 96,
 'Eagle Talon Hatchback 1998': 97,
 'FIAT 500 Abarth 2012': 98,
 'FIAT 500 Convertible 2012': 99,
 'Ferrari 458 Italia Convertible 2012': 100,
 'Ferrari 458 Italia Coupe 2012': 101,
 'Ferrari California Convertible 2012': 102,
 'Ferrari FF Coupe 2012': 103,
 'Fisker Karma Sedan 2012': 104,
 'Ford E-Series Wagon Van 2012': 105,
 'Ford Edge SUV 2012': 106,
 'Ford Expedition EL SUV 2009': 107,
 'Ford F-150 Regular Cab 2007': 108,
 'Ford F-150 Regular Cab 2012': 109,
 'Ford F-450 Super Duty Crew Cab 2012': 110,
 'Ford Fiesta Sedan 2012': 111,
 'Ford Focus Sedan 2007': 112,
 'Ford Freestar Minivan 2007': 113,
 'Ford GT Coupe 2006': 114,
 'Ford Mustang Convertible 2007': 115,
 'Ford Ranger SuperCab 2011': 116,
 'GMC Acadia SUV 2012': 117,
 'GMC Canyon Extended Cab 2012': 118,
 'GMC Savana Van 2012': 119,
 'GMC Terrain SUV 2012': 120,
 'GMC Yukon Hybrid SUV 2012': 121,
 'Geo Metro Convertible 1993': 122,
 'HUMMER H2 SUT Crew Cab 2009': 123,
 'HUMMER H3T Crew Cab 2010': 124,
 'Honda Accord Coupe 2012': 125,
 'Honda Accord Sedan 2012': 126,
 'Honda Odyssey Minivan 2007': 127,
 'Honda Odyssey Minivan 2012': 128,
 'Hyundai Accent Sedan 2012': 129,
 'Hyundai Azera Sedan 2012': 130,
 'Hyundai Elantra Sedan 2007': 131,
 'Hyundai Elantra Touring Hatchback 2012': 132,
 'Hyundai Genesis Sedan 2012': 133,
 'Hyundai Santa Fe SUV 2012': 134,
 'Hyundai Sonata Hybrid Sedan 2012': 135,
 'Hyundai Sonata Sedan 2012': 136,
 'Hyundai Tucson SUV 2012': 137,
 'Hyundai Veloster Hatchback 2012': 138,
 'Hyundai Veracruz SUV 2012': 139,
 'Infiniti G Coupe IPL 2012': 140,
 'Infiniti QX56 SUV 2011': 141,
 'Isuzu Ascender SUV 2008': 142,
 'Jaguar XK XKR 2012': 143,
 'Jeep Compass SUV 2012': 144,
 'Jeep Grand Cherokee SUV 2012': 145,
 'Jeep Liberty SUV 2012': 146,
 'Jeep Patriot SUV 2012': 147,
 'Jeep Wrangler SUV 2012': 148,
 'Lamborghini Aventador Coupe 2012': 149,
 'Lamborghini Diablo Coupe 2001': 150,
 'Lamborghini Gallardo LP 570-4 Superleggera 2012': 151,
 'Lamborghini Reventon Coupe 2008': 152,
 'Land Rover LR2 SUV 2012': 153,
 'Land Rover Range Rover SUV 2012': 154,
 'Lincoln Town Car Sedan 2011': 155,
 'MINI Cooper Roadster Convertible 2012': 156,
 'Maybach Landaulet Convertible 2012': 157,
 'Mazda Tribute SUV 2011': 158,
 'McLaren MP4-12C Coupe 2012': 159,
 'Mercedes-Benz 300-Class Convertible 1993': 160,
 'Mercedes-Benz C-Class Sedan 2012': 161,
 'Mercedes-Benz E-Class Sedan 2012': 162,
 'Mercedes-Benz S-Class Sedan 2012': 163,
 'Mercedes-Benz SL-Class Coupe 2009': 164,
 'Mercedes-Benz Sprinter Van 2012': 165,
 'Mitsubishi Lancer Sedan 2012': 166,
 'Nissan 240SX Coupe 1998': 167,
 'Nissan Juke Hatchback 2012': 168,
 'Nissan Leaf Hatchback 2012': 169,
 'Nissan NV Passenger Van 2012': 170,
 'Plymouth Neon Coupe 1999': 171,
 'Porsche Panamera Sedan 2012': 172,
 'Ram C/V Cargo Van Minivan 2012': 173,
 'Rolls-Royce Ghost Sedan 2012': 174,
 'Rolls-Royce Phantom Drophead Coupe Convertible 2012': 175,
 'Rolls-Royce Phantom Sedan 2012': 176,
 'Scion xD Hatchback 2012': 177,
 'Spyker C8 Convertible 2009': 178,
 'Spyker C8 Coupe 2009': 179,
 'Suzuki Aerio Sedan 2007': 180,
 'Suzuki Kizashi Sedan 2012': 181,
 'Suzuki SX4 Hatchback 2012': 182,
 'Suzuki SX4 Sedan 2012': 183,
 'Tesla Model S Sedan 2012': 184,
 'Toyota 4Runner SUV 2012': 185,
 'Toyota Camry Sedan 2012': 186,
 'Toyota Corolla Sedan 2012': 187,
 'Toyota Sequoia SUV 2012': 188,
 'Volkswagen Beetle Hatchback 2012': 189,
 'Volkswagen Golf Hatchback 1991': 190,
 'Volkswagen Golf Hatchback 2012': 191,
 'Volvo 240 Sedan 1993': 192,
 'Volvo C30 Hatchback 2012': 193,
 'Volvo XC90 SUV 2007': 194,
 'smart fortwo Convertible 2012': 195}

In [40]:
label_to_class = dict((v,k) for k,v in class_to_label.items())

In [41]:
label_to_class

{0: 'AM General Hummer SUV 2000',
 1: 'Acura Integra Type R 2001',
 2: 'Acura RL Sedan 2012',
 3: 'Acura TL Sedan 2012',
 4: 'Acura TL Type-S 2008',
 5: 'Acura TSX Sedan 2012',
 6: 'Acura ZDX Hatchback 2012',
 7: 'Aston Martin V8 Vantage Convertible 2012',
 8: 'Aston Martin V8 Vantage Coupe 2012',
 9: 'Aston Martin Virage Convertible 2012',
 10: 'Aston Martin Virage Coupe 2012',
 11: 'Audi 100 Sedan 1994',
 12: 'Audi 100 Wagon 1994',
 13: 'Audi A5 Coupe 2012',
 14: 'Audi R8 Coupe 2012',
 15: 'Audi RS 4 Convertible 2008',
 16: 'Audi S4 Sedan 2007',
 17: 'Audi S4 Sedan 2012',
 18: 'Audi S5 Convertible 2012',
 19: 'Audi S5 Coupe 2012',
 20: 'Audi S6 Sedan 2011',
 21: 'Audi TT Hatchback 2011',
 22: 'Audi TT RS Coupe 2012',
 23: 'Audi TTS Coupe 2012',
 24: 'Audi V8 Sedan 1994',
 25: 'BMW 1 Series Convertible 2012',
 26: 'BMW 1 Series Coupe 2012',
 27: 'BMW 3 Series Sedan 2012',
 28: 'BMW 3 Series Wagon 2012',
 29: 'BMW 6 Series Convertible 2007',
 30: 'BMW ActiveHybrid 5 Sedan 2012',
 31: 'BMW M3 Coupe 2012',
 32: 'BMW M5 Sedan 2010',
 33: 'BMW M6 Convertible 2010',
 34: 'BMW X3 SUV 2012',
 35: 'BMW X5 SUV 2007',
 36: 'BMW X6 SUV 2012',
 37: 'BMW Z4 Convertible 2012',
 38: 'Bentley Arnage Sedan 2009',
 39: 'Bentley Continental Flying Spur Sedan 2007',
 40: 'Bentley Continental GT Coupe 2007',
 41: 'Bentley Continental GT Coupe 2012',
 42: 'Bentley Continental Supersports Conv. Convertible 2012',
 43: 'Bentley Mulsanne Sedan 2011',
 44: 'Bugatti Veyron 16.4 Convertible 2009',
 45: 'Bugatti Veyron 16.4 Coupe 2009',
 46: 'Buick Enclave SUV 2012',
 47: 'Buick Rainier SUV 2007',
 48: 'Buick Regal GS 2012',
 49: 'Buick Verano Sedan 2012',
 50: 'Cadillac CTS-V Sedan 2012',
 51: 'Cadillac Escalade EXT Crew Cab 2007',
 52: 'Cadillac SRX SUV 2012',
 53: 'Chevrolet Avalanche Crew Cab 2012',
 54: 'Chevrolet Camaro Convertible 2012',
 55: 'Chevrolet Cobalt SS 2010',
 56: 'Chevrolet Corvette Convertible 2012',
 57: 'Chevrolet Corvette Ron Fellows Edition Z06 2007',
 58: 'Chevrolet Corvette ZR1 2012',
 59: 'Chevrolet Express Cargo Van 2007',
 60: 'Chevrolet Express Van 2007',
 61: 'Chevrolet HHR SS 2010',
 62: 'Chevrolet Impala Sedan 2007',
 63: 'Chevrolet Malibu Hybrid Sedan 2010',
 64: 'Chevrolet Malibu Sedan 2007',
 65: 'Chevrolet Monte Carlo Coupe 2007',
 66: 'Chevrolet Silverado 1500 Classic Extended Cab 2007',
 67: 'Chevrolet Silverado 1500 Extended Cab 2012',
 68: 'Chevrolet Silverado 1500 Hybrid Crew Cab 2012',
 69: 'Chevrolet Silverado 1500 Regular Cab 2012',
 70: 'Chevrolet Silverado 2500HD Regular Cab 2012',
 71: 'Chevrolet Sonic Sedan 2012',
 72: 'Chevrolet Tahoe Hybrid SUV 2012',
 73: 'Chevrolet TrailBlazer SS 2009',
 74: 'Chevrolet Traverse SUV 2012',
 75: 'Chrysler 300 SRT-8 2010',
 76: 'Chrysler Aspen SUV 2009',
 77: 'Chrysler Crossfire Convertible 2008',
 78: 'Chrysler PT Cruiser Convertible 2008',
 79: 'Chrysler Sebring Convertible 2010',
 80: 'Chrysler Town and Country Minivan 2012',
 81: 'Daewoo Nubira Wagon 2002',
 82: 'Dodge Caliber Wagon 2007',
 83: 'Dodge Caliber Wagon 2012',
 84: 'Dodge Caravan Minivan 1997',
 85: 'Dodge Challenger SRT8 2011',
 86: 'Dodge Charger SRT-8 2009',
 87: 'Dodge Charger Sedan 2012',
 88: 'Dodge Dakota Club Cab 2007',
 89: 'Dodge Dakota Crew Cab 2010',
 90: 'Dodge Durango SUV 2007',
 91: 'Dodge Durango SUV 2012',
 92: 'Dodge Journey SUV 2012',
 93: 'Dodge Magnum Wagon 2008',
 94: 'Dodge Ram Pickup 3500 Crew Cab 2010',
 95: 'Dodge Ram Pickup 3500 Quad Cab 2009',
 96: 'Dodge Sprinter Cargo Van 2009',
 97: 'Eagle Talon Hatchback 1998',
 98: 'FIAT 500 Abarth 2012',
 99: 'FIAT 500 Convertible 2012',
 100: 'Ferrari 458 Italia Convertible 2012',
 101: 'Ferrari 458 Italia Coupe 2012',
 102: 'Ferrari California Convertible 2012',
 103: 'Ferrari FF Coupe 2012',
 104: 'Fisker Karma Sedan 2012',
 105: 'Ford E-Series Wagon Van 2012',
 106: 'Ford Edge SUV 2012',
 107: 'Ford Expedition EL SUV 2009',
 108: 'Ford F-150 Regular Cab 2007',
 109: 'Ford F-150 Regular Cab 2012',
 110: 'Ford F-450 Super Duty Crew Cab 2012',
 111: 'Ford Fiesta Sedan 2012',
 112: 'Ford Focus Sedan 2007',
 113: 'Ford Freestar Minivan 2007',
 114: 'Ford GT Coupe 2006',
 115: 'Ford Mustang Convertible 2007',
 116: 'Ford Ranger SuperCab 2011',
 117: 'GMC Acadia SUV 2012',
 118: 'GMC Canyon Extended Cab 2012',
 119: 'GMC Savana Van 2012',
 120: 'GMC Terrain SUV 2012',
 121: 'GMC Yukon Hybrid SUV 2012',
 122: 'Geo Metro Convertible 1993',
 123: 'HUMMER H2 SUT Crew Cab 2009',
 124: 'HUMMER H3T Crew Cab 2010',
 125: 'Honda Accord Coupe 2012',
 126: 'Honda Accord Sedan 2012',
 127: 'Honda Odyssey Minivan 2007',
 128: 'Honda Odyssey Minivan 2012',
 129: 'Hyundai Accent Sedan 2012',
 130: 'Hyundai Azera Sedan 2012',
 131: 'Hyundai Elantra Sedan 2007',
 132: 'Hyundai Elantra Touring Hatchback 2012',
 133: 'Hyundai Genesis Sedan 2012',
 134: 'Hyundai Santa Fe SUV 2012',
 135: 'Hyundai Sonata Hybrid Sedan 2012',
 136: 'Hyundai Sonata Sedan 2012',
 137: 'Hyundai Tucson SUV 2012',
 138: 'Hyundai Veloster Hatchback 2012',
 139: 'Hyundai Veracruz SUV 2012',
 140: 'Infiniti G Coupe IPL 2012',
 141: 'Infiniti QX56 SUV 2011',
 142: 'Isuzu Ascender SUV 2008',
 143: 'Jaguar XK XKR 2012',
 144: 'Jeep Compass SUV 2012',
 145: 'Jeep Grand Cherokee SUV 2012',
 146: 'Jeep Liberty SUV 2012',
 147: 'Jeep Patriot SUV 2012',
 148: 'Jeep Wrangler SUV 2012',
 149: 'Lamborghini Aventador Coupe 2012',
 150: 'Lamborghini Diablo Coupe 2001',
 151: 'Lamborghini Gallardo LP 570-4 Superleggera 2012',
 152: 'Lamborghini Reventon Coupe 2008',
 153: 'Land Rover LR2 SUV 2012',
 154: 'Land Rover Range Rover SUV 2012',
 155: 'Lincoln Town Car Sedan 2011',
 156: 'MINI Cooper Roadster Convertible 2012',
 157: 'Maybach Landaulet Convertible 2012',
 158: 'Mazda Tribute SUV 2011',
 159: 'McLaren MP4-12C Coupe 2012',
 160: 'Mercedes-Benz 300-Class Convertible 1993',
 161: 'Mercedes-Benz C-Class Sedan 2012',
 162: 'Mercedes-Benz E-Class Sedan 2012',
 163: 'Mercedes-Benz S-Class Sedan 2012',
 164: 'Mercedes-Benz SL-Class Coupe 2009',
 165: 'Mercedes-Benz Sprinter Van 2012',
 166: 'Mitsubishi Lancer Sedan 2012',
 167: 'Nissan 240SX Coupe 1998',
 168: 'Nissan Juke Hatchback 2012',
 169: 'Nissan Leaf Hatchback 2012',
 170: 'Nissan NV Passenger Van 2012',
 171: 'Plymouth Neon Coupe 1999',
 172: 'Porsche Panamera Sedan 2012',
 173: 'Ram C/V Cargo Van Minivan 2012',
 174: 'Rolls-Royce Ghost Sedan 2012',
 175: 'Rolls-Royce Phantom Drophead Coupe Convertible 2012',
 176: 'Rolls-Royce Phantom Sedan 2012',
 177: 'Scion xD Hatchback 2012',
 178: 'Spyker C8 Convertible 2009',
 179: 'Spyker C8 Coupe 2009',
 180: 'Suzuki Aerio Sedan 2007',
 181: 'Suzuki Kizashi Sedan 2012',
 182: 'Suzuki SX4 Hatchback 2012',
 183: 'Suzuki SX4 Sedan 2012',
 184: 'Tesla Model S Sedan 2012',
 185: 'Toyota 4Runner SUV 2012',
 186: 'Toyota Camry Sedan 2012',
 187: 'Toyota Corolla Sedan 2012',
 188: 'Toyota Sequoia SUV 2012',
 189: 'Volkswagen Beetle Hatchback 2012',
 190: 'Volkswagen Golf Hatchback 1991',
 191: 'Volkswagen Golf Hatchback 2012',
 192: 'Volvo 240 Sedan 1993',
 193: 'Volvo C30 Hatchback 2012',
 194: 'Volvo XC90 SUV 2007',
 195: 'smart fortwo Convertible 2012'}

In [54]:
val_gen.classes

[116,
 185,
 7,
 183,
 15,
 21,
 121,
 101,
 101,
 13,
 115,
 182,
 39,
 51,
 175,
 153,
 60,
 85,
 73,
 188,
 88,
 107,
 193,
 86,
 151,
 32,
 48,
 27,
 124,
 47,
 111,
 115,
 8,
 77,
 17,
 28,
 124,
 16,
 123,
 54,
 11,
 31,
 54,
 20,
 22,
 171,
 46,
 119,
 192,
 56,
 154,
 177,
 2,
 148,
 39,
 71,
 131,
 20,
 162,
 51,
 120,
 38,
 69,
 118,
 180,
 3,
 116,
 51,
 28,
 108,
 0,
 76,
 143,
 110,
 48,
 8,
 2,
 104,
 81,
 194,
 5,
 181,
 186,
 106,
 48,
 95,
 173,
 69,
 90,
 137,
 99,
 56,
 39,
 61,
 46,
 118,
 21,
 159,
 145,
 78,
 193,
 56,
 72,
 68,
 189,
 73,
 84,
 15,
 54,
 168,
 34,
 107,
 147,
 136,
 92,
 186,
 44,
 108,
 38,
 132,
 191,
 182,
 23,
 99,
 189,
 133,
 27,
 73,
 89,
 104,
 79,
 190,
 80,
 133,
 22,
 25,
 27,
 134,
 19,
 6,
 194,
 165,
 137,
 108,
 1,
 150,
 12,
 169,
 22,
 50,
 140,
 90,
 145,
 56,
 16,
 9,
 27,
 85,
 118,
 66,
 44,
 119,
 43,
 151,
 152,
 31,
 73,
 158,
 43,
 147,
 1,
 3,
 65,
 78,
 79,
 57,
 60,
 88,
 74,
 86,
 8,
 157,
 93,
 193,
 171,
 178,
 106,
 35,
 73,
 10,
 152,
 159,
 140,
 155,
 191,
 164,
 136,
 131,
 187,
 64,
 66,
 7,
 34,
 105,
 87,
 90,
 30,
 135,
 15,
 154,
 192,
 134,
 107,
 23,
 170,
 95,
 177,
 148,
 3,
 154,
 179,
 145,
 165,
 88,
 122,
 172,
 61,
 182,
 0,
 172,
 156,
 102,
 91,
 13,
 113,
 155,
 162,
 178,
 158,
 186,
 176,
 68,
 44,
 68,
 134,
 83,
 86,
 72,
 72,
 68,
 147,
 77,
 119,
 156,
 195,
 90,
 119,
 159,
 153,
 139,
 121,
 89,
 92,
 14,
 192,
 81,
 49,
 16,
 46,
 72,
 85,
 122,
 55,
 104,
 52,
 19,
 176,
 144,
 153,
 124,
 46,
 90,
 152,
 126,
 33,
 33,
 77,
 125,
 126,
 67,
 14,
 77,
 34,
 19,
 62,
 49,
 130,
 100,
 168,
 57,
 162,
 79,
 155,
 53,
 42,
 3,
 164,
 188,
 19,
 117,
 12,
 33,
 128,
 50,
 142,
 146,
 112,
 169,
 13,
 12,
 39,
 171,
 190,
 169,
 121,
 180,
 104,
 62,
 105,
 20,
 113,
 190,
 150,
 57,
 32,
 114,
 47,
 15,
 21,
 149,
 9,
 119,
 127,
 40,
 32,
 151,
 181,
 1,
 59,
 120,
 42,
 107,
 131,
 190,
 92,
 129,
 73,
 142,
 132,
 115,
 24,
 186,
 154,
 185,
 176,
 80,
 90,
 12,
 62,
 133,
 60,
 138,
 38,
 130,
 64,
 71,
 39,
 91,
 10,
 42,
 52,
 148,
 171,
 4,
 111,
 122,
 92,
 34,
 184,
 166,
 1,
 147,
 66,
 81,
 77,
 130,
 78,
 164,
 5,
 11,
 148,
 143,
 133,
 142,
 143,
 127,
 80,
 145,
 89,
 133,
 0,
 7,
 6,
 128,
 159,
 16,
 31,
 39,
 24,
 77,
 53,
 75,
 127,
 28,
 123,
 138,
 121,
 18,
 102,
 78,
 6,
 164,
 139,
 76,
 87,
 187,
 125,
 137,
 170,
 119,
 65,
 144,
 186,
 108,
 181,
 64,
 14,
 74,
 29,
 105,
 0,
 184,
 137,
 35,
 46,
 130,
 5,
 50,
 56,
 173,
 45,
 55,
 75,
 184,
 106,
 133,
 71,
 4,
 98,
 180,
 53,
 157,
 184,
 9,
 19,
 193,
 174,
 138,
 127,
 51,
 119,
 114,
 33,
 178,
 70,
 162,
 76,
 191,
 134,
 153,
 113,
 26,
 0,
 126,
 177,
 47,
 39,
 188,
 30,
 25,
 107,
 28,
 149,
 69,
 76,
 93,
 55,
 136,
 23,
 168,
 77,
 119,
 160,
 4,
 193,
 137,
 138,
 16,
 8,
 161,
 82,
 162,
 194,
 98,
 106,
 79,
 116,
 101,
 24,
 112,
 137,
 180,
 41,
 46,
 37,
 108,
 96,
 27,
 79,
 162,
 75,
 74,
 139,
 45,
 170,
 118,
 48,
 37,
 117,
 97,
 98,
 54,
 83,
 186,
 171,
 63,
 160,
 160,
 90,
 142,
 152,
 31,
 158,
 75,
 95,
 169,
 194,
 16,
 37,
 123,
 76,
 74,
 160,
 176,
 101,
 48,
 194,
 107,
 123,
 139,
 144,
 167,
 130,
 29,
 24,
 32,
 89,
 62,
 155,
 36,
 195,
 60,
 128,
 161,
 22,
 41,
 162,
 171,
 54,
 156,
 13,
 178,
 10,
 183,
 140,
 13,
 21,
 149,
 48,
 55,
 134,
 5,
 94,
 36,
 136,
 80,
 48,
 34,
 2,
 161,
 93,
 106,
 67,
 37,
 107,
 115,
 170,
 158,
 114,
 117,
 167,
 143,
 184,
 1,
 11,
 58,
 129,
 50,
 18,
 100,
 173,
 0,
 136,
 85,
 110,
 145,
 132,
 169,
 147,
 190,
 72,
 9,
 139,
 8,
 181,
 195,
 2,
 179,
 7,
 65,
 84,
 88,
 43,
 59,
 185,
 49,
 175,
 80,
 167,
 170,
 17,
 163,
 188,
 43,
 112,
 110,
 181,
 100,
 81,
 109,
 176,
 91,
 186,
 14,
 63,
 50,
 188,
 142,
 113,
 109,
 76,
 97,
 131,
 55,
 79,
 181,
 30,
 29,
 12,
 150,
 123,
 31,
 60,
 45,
 191,
 103,
 84,
 83,
 25,
 111,
 140,
 86,
 170,
 105,
 170,
 49,
 89,
 26,
 134,
 52,
 55,
 33,
 148,
 26,
 108,
 62,
 18,
 95,
 99,
 129,
 64,
 119,
 32,
 15,
 139,
 57,
 143,
 193,
 17,
 4,
 187,
 179,
 82,
 47,
 61,
 125,
 66,
 187,
 58,
 173,
 163,
 158,
 19,
 100,
 39,
 103,
 166,
 126,
 185,
 14,
 123,
 151,
 190,
 20,
 85,
 20,
 156,
 115,
 138,
 97,
 148,
 129,
 192,
 116,
 172,
 94,
 146,
 88,
 35,
 70,
 70,
 83,
 179,
 149,
 184,
 115,
 6,
 72,
 146,
 16,
 6,
 41,
 30,
 176,
 181,
 78,
 26,
 145,
 18,
 160,
 190,
 132,
 152,
 43,
 66,
 178,
 30,
 29,
 80,
 94,
 59,
 146,
 42,
 107,
 116,
 168,
 124,
 17,
 47,
 157,
 71,
 185,
 75,
 118,
 40,
 81,
 183,
 108,
 49,
 60,
 40,
 74,
 172,
 25,
 78,
 97,
 10,
 82,
 174,
 115,
 128,
 89,
 150,
 75,
 185,
 164,
 117,
 32,
 0,
 76,
 127,
 102,
 179,
 50,
 179,
 81,
 137,
 120,
 175,
 149,
 136,
 30,
 70,
 177,
 158,
 95,
 175,
 39,
 179,
 40,
 133,
 144,
 134,
 155,
 51,
 109,
 65,
 103,
 92,
 135,
 122,
 66,
 84,
 82,
 167,
 161,
 35,
 58,
 58,
 70,
 71,
 77,
 55,
 33,
 127,
 29,
 102,
 65,
 138,
 27,
 158,
 178,
 86,
 78,
 167,
 57,
 166,
 149,
 25,
 18,
 194,
 50,
 42,
 163,
 112,
 28,
 110,
 131,
 51,
 62,
 154,
 1,
 86,
 78,
 83,
 119,
 116,
 73,
 135,
 64,
 166,
 37,
 121,
 191,
 51,
 67,
 169,
 91,
 26,
 109,
 103,
 31,
 64,
 11,
 160,
 15,
 38,
 52,
 163,
 23,
 6,
 169,
 143,
 12,
 45,
 27,
 145,
 12,
 13,
 65,
 67,
 161,
 174,
 80,
 40,
 122,
 3,
 144,
 3,
 123,
 63,
 162,
 95,
 183,
 140,
 6,
 153,
 150,
 125,
 41,
 174,
 113,
 14,
 172,
 63,
 132,
 132,
 22,
 79,
 64,
 40,
 53,
 193,
 115,
 161,
 132,
 146,
 104,
 75,
 36,
 ...]