In [2]:
import os
import pandas as pd
import seaborn as sns

In [3]:
ROOT = os.path.join(os.pardir)
DATA_DIR = os.path.join(ROOT, 'data')
DATA_PATH = os.path.join(DATA_DIR, 'dataset.csv')

In [4]:
data = pd.read_csv(DATA_PATH)

In [5]:
data.head()

             img_path  class  bbox_x1  bbox_y1  bbox_x2  bbox_y2  test
0  car_ims/000001.jpg      1      112        7      853      717     0
1  car_ims/000002.jpg      1       48       24      441      202     0
2  car_ims/000003.jpg      1        7        4      277      180     0
3  car_ims/000004.jpg      1       33       50      197      150     0
4  car_ims/000005.jpg      1        5        8       83       58     0

# Size of Datasets

In [6]:
print(f'Size of Dataset: {len(data)}')

Size of Dataset: 16185

In [7]:
train_data = data[data['test'] == 0]
test_data = data[data['test'] == 1]

In [8]:
print(f'Size of Train: {len(train_data)}')
print(f'Size of Test: {len(test_data)}')

Size of Train: 8144
Size of Test: 8041

# Distribution of Classes

In [9]:
data['class'].nunique()

196

In [10]:
plt.hist(data['class'])

NameError: name 'plt' is not defined